[submodule "backend"]
	path = backend
	url = https://github.com/NikKha03/notes_univerrsity/tree/backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/NikKha03/notes_univerrsity/tree/frontend
